# Node dependencies
node_modules

# Laravel storage (allow necessary subfolders)
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Local environment files
.env
.env.*
.DS_Store
*.log
*.zip
*.tar
*.gz

# VCS
.git
.gitignore
.gitattributes

# IDE files
.idea
.vscode

# OS files
Thumbs.db
ehthumbs.db
